.sidebar {
  margin-top: 65px;
  position: fixed;
  width: 16.666667%;
  background-color: #fbfbff;

  .ulWrapper {
    padding: 0;
    padding: 20px;
    list-style-type: none;
    .liWrapper {
      margin-bottom: 10px;
      .titleGeneral {
        font-size: 13px;
        font-weight: bold;
        color: rgb(187, 186, 186);
        margin-bottom: 5px;
        display: block;
      }
    }
    .ulContent {
      list-style-type: none;
      padding: 0;
      margin-left: 10px;
      li {
        display: flex;
        padding: 5px;
        align-items: center;
        border-radius: 10px;
        transition: all 0.8s ease;
        color: #555;
        .text {
          margin-left: 5px;
        }
      }
      .click {
        background-color: #f0f0fe;
      }
      li:hover {
        background-color: #f0f0fe;
        cursor: pointer;
      }
    }
  }
}
